[include]
  path = ~/.gitconfig.local
[core]
  quotepath = false
  excludesFile = ~/.gitignore_global
[init]
  defaultBranch = master
[pull]
  rebase = true
[push]
  autoSetupRemote = true
  default = upstream
[diff]
  tool = nvimdiff
[difftool]
	prompt = false
