:root {
  /* Dracula color scheme */
  --color-background: #282a36;
  --color-foreground: #f8f8f2;
  --color-selection: #44475a;
  --color-comment: #6272a4;
  --color-red: #ff5555;
  --color-orange: #ffb86c;
  --color-yellow: #f1fa8c;
  --color-green: #50fa7b;
  --color-purple: #bd93f9;
  --color-cyan: #8be9fd;
  --color-pink: #ff79c6;

  --color-hint-border: var(--color-orange);
  --color-hint-background: var(--color-background);
  --color-hint-text: var(--color-foreground);

  --color-hud-border: var(--color-orange);
  --color-hud-background: var(--color-background);
  --color-hud-find: var(--color-foreground);
  --color-hud-find-input: var(--color-foreground);
  --color-hud-match-count: var(--color-orange);
  --color-hud-search-area-inner: var(--color-orange);

  --color-vomnibar-background: var(--color-selection);
  --color-vomnibar-border: var(--color-purple);
  --color-vomnibar-input: var(--color-foreground);
  --color-vomnibar-input-selection: var(--color-selection);
  --color-vomnibar-input-background: var(--color-background);
  --color-vomnibar-choices-background: var(--color-selection);
  --color-vomnibar-choice: var(--color-foreground);
  --color-vomnibar-choice-source: var(--color-purple);
  --color-vomnibar-choice-relevancy: var(--color-purple);
  --color-vomnibar-choice-relevancy-background: var(--color-purple);
  --color-vomnibar-choice-url: var(--color-green);
  --color-vomnibar-choice-match: var(--color-orange);
  --color-vomnibar-choice-title: var(--color-foreground);
  --color-vomnibar-choice-title-match: var(--color-orange);
  --color-vomnibar-choice-selected: var(--color-comment);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Catpuccin latte color scheme */
    --color-background: #eff1f5;
    --color-foreground: #4c4f69;
    --color-selection: #ccd0da;
    --color-comment: #6c6f85;
    --color-red: #d20f39;
    --color-orange: #fe640b;
    --color-yellow: #df8e1d;
    --color-green: #40a02b;
    --color-purple: #8839ef;
    --color-cyan: #04a5e5;
    --color-pink: #ea76cb;

    --color-vomnibar-border: var(--color-pink);
    --color-vomnibar-background: #e6e9ef;
    --color-vomnibar-choices-background: var(--color-vomnibar-background);
    --color-vomnibar-choice-selected: var(--color-selection);
  }
}

/* Link hint boxes */
div.internalVimiumHintMarker.vimiumHintMarker {
  background: var(--color-hint-background);
  font-size: 12.5px;
  border: 1px solid var(--color-hint-border);
  border-radius: 4px;
  box-shadow: none;
}

/* Link hint text */
div.internalVimiumHintMarker.vimiumHintMarker span {
  color: var(--color-hint-text);
  font-size: inherit;
  text-shadow: none;
}

/* HUD */
div.vimiumHUD {
  background: var(--color-hud-background);
  border: 1px solid var(--color-hud-border);
  border-radius: 4px;
  box-shadow: none;
  inset: 0 0 auto auto;
}

div.vimiumHUD .vimiumHUDSearchArea {
  background: var(--color-hud-background);
  border-radius: 4px;
  padding: 4px;
}

div.vimiumHUD .hud-find {
  background: var(--color-hud-background);
  border: none;
  color: var(--color-hud-find);
}

div.vimiumHUD span#hud-find-input {
  color: var(--color-hud-find-input);
}

div.vimiumHUD span#hud-match-count {
  color: var(--color-hud-match-count);
}

div.vimiumHUD .vimiumHUDSearchAreaInner {
  color: var(--color-hud-search-area-inner);
  padding: 4px;
}

#vomnibar {
  background-color: var(--color-vomnibar-background);
  border-radius: 8px;
  border: 1px solid var(--color-vomnibar-border);
  box-shadow: none;
}

#vomnibar input {
  color: var(--color-vomnibar-input);
  padding: 1em;
  height: 40px;
  background-color: var(--color-vomnibar-input-background);
  border-radius: 8px;
  border: none;
  box-shadow: none;
}

#vomnibar .vomnibarSearchArea {
  padding: 0;
  border-radius: 8px;
  border: none;
}

#vomnibar ul {
  background-color: var(--color-vomnibar-choices-background);
  border-radius: 0 8px 8px;
  padding-block: 0;
  margin-block: 0;
}

#vomnibar li {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--color-vomnibar-choice);
}

#vomnibar li .vomnibarTopHalf,
#vomnibar li .vomnibarBottomHalf {
  word-break: break-all;
}

#vomnibar li .vomnibarBottomHalf {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

#vomnibar li .vomnibarSource {
  float: left;
  color: var(--color-vomnibar-choice-source);
  margin: 0;
}

#vomnibar li .vomnibarSource.vomnibarNoInsertText,
#vomnibar li .vomnibarSource.vomnibarInsertText {
  display: none;
}

#vomnibar li .vomnibarRelevancy {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  background-color: var(--color-vomnibar-choice-relevancy-background);
  color: var(--color-vomnibar-choice-relevancy);
  font-family: monospace;
  width: 100px;
  overflow: hidden;
}

#vomnibar li .vomnibarUrl {
  color: var(--color-vomnibar-choice-url);
}

#vomnibar li .vomnibarMatch {
  font-weight: bold;
  color: var(--color-vomnibar-choice-match);
}

#vomnibar li em,
#vomnibar li .vomnibarTitle {
  color: var(--color-vomnibar-choice-title);
  margin-left: 4px;
  font-weight: normal;
}

#vomnibar li em {
  font-style: italic;
}

#vomnibar li em .vomnibarMatch,
#vomnibar li .vomnibarTitle .vomnibarMatch {
  color: var(--color-vomnibar-choice-title-match);
}

#vomnibar li.vomnibarSelected {
  background-color: var(--color-vomnibar-choice-selected);
  font-weight: normal;
}

#vomnibarInput::selection {
  background-color: var(--color-vomnibar-input-selection);
}

